<center><img src="https://49.media.tumblr.com/2960f5d32dc6bd525c374fe3a3f573aa/tumblr_nbehznoMpK1qic3lco1_500.gif">
<h1>jess's amazing and tasty bugers</h1>
welcome.<p>
<a href="/ingredients">in stock</a> | <a href="/order">order a buger</a> | <a href="/kitchen">kitchen</a>
</center>