<a href="/">&lt;-- home</a>
<p>
<center><h1>current ingredients in stock</h1></center>


	<!-- TEMPLATE -->
	<form class="inStock" id="template" action="delete" method="POST">
	  <div id = "in">ingredient, $ price</div>

	  <div id="edit-form">
		  <input type="text" name="edit-ingredient">
		  <input type="text" name="edit-price">
		  <input type="submit" class="edit-submit" value="submit"> 
	  </div><br>

	  <input type="button" class="edit" value="edit">
	  <input type="submit" class="submit" value="out of stock">
	</form>


	<!-- ACUTAL ITEMS -->
<div id="inStockIngredients">
{{#each inStock}}
	<form class="inStock" id="{{_id}}" action="delete" method="POST">
	  <div id = "in">{{ingredient}}, $ {{price}}</div>

	  <!-- HIDDEN BUTTONS -->
	  <div id="edit-form">
		  <input type="text" name="edit-ingredient">
		  <input type="text" name="edit-price">
		  <input type="submit" class="edit-submit" value="submit"><br>
	  </div>

	  <input type="button" class="edit" value="edit">
	  <input type="submit" class="submit" value="out of stock">
	</form><br>
{{/each}}
</div>
<p>


<center>
<h1>add ingredients</h1>
	<form id="newIngredient" action="ingredientsPOST" method="POST">
		ingredient: <input type="text" id="ingredient">
		price: $<input type="text" id="price">
		<input type="submit" class="addBu" value="add">
	</form>
</center>