do you want a cat.<p>
<li><a href="/cats/new">yes</a></li>
<li><a href="/cats">what cats</a></li>
<li><a href="/cats/bycolor/salmon">salmon cats</a></li>
<li><a href="/cats/bycolor/blue">blue cats?</a></li>
<li><a href="/cats/bycolor/olive">olive cats.</a></li>
<li><a href="/cats/delete/old">no</a></li>