<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>(it's probably not)</title>
    <link rel="icon" type="image/png" 
    		href="http://iconshow.me/media/images/xmas/merry-christmas-icons/png/16/christmas_bow.png"/>
  </head>
  <body>
  	{{{body}}}
  </body>
</html>