<center>
<h1>talk with twots</h1>
<span id="incorrect">{{message}}</span><br>
<form id="loginForm" action="login" method="POST">
	Username: <input type="text" id="username"><br>
	Password: <input type="password" id="pw"><p>
	<input type="submit" value="LOGIN" class="btn loginbtn"><br>
</form>
<br><a href="/index"> </a>
</center>